@import url(https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

::-moz-selection {
	color: #fff;
	background: #4c82b7
}

::selection {
	color: #fff;
	background: #4c82b7
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #000;
	font-family: "Google Sans", san-serif;
	display: flex;
}

.popup-content {
	visibility: hidden;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 25%;
	height: min-content;
	background-color: #fff;
	border-radius: 5px;
	z-index: 10;
	left: 50%;
	padding: 5%;
	opacity: 0;
	-webkit-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-moz-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-ms-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-o-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	transition: all .2s ease 0s, text-shadow .2s linear 0s
}

.close {
	border-radius: 3px;
	background-color: #f44336;
	color: #fff;
	border: 2px solid #f44336;
	padding: 10px 24px;
	-webkit-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-moz-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-ms-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-o-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	transition: all .2s ease 0s, text-shadow .2s linear 0s
}

.close:hover {
	background-color: #fff;
	color: #000;
	border: 2px solid #f44336
}

.close:active {
	background-color: #ff7d74;
	color: #000;
	border: 2px solid #f44336
}

.popup-content.active {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-moz-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-ms-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-o-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	transition: all .2s ease 0s, text-shadow .2s linear 0s
}

.blur {
	filter: blur(5px);
	-webkit-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-moz-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-ms-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-o-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	transition: all .2s ease 0s, text-shadow .2s linear 0s
}

main {
	position: relative;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(7, 1fr) .5fr repeat(2, 1fr);
	grid-gap: 10px;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vh;
	max-width: 100vw;
	height: 100%;
	filter: blur(0) grayscale(0);
	-webkit-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-moz-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-ms-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-o-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	transition: all .2s ease 0s, text-shadow .2s linear 0s;
	overflow-y: hidden;
	padding: 0.5em;
}

.blur-main {
	filter: blur(5px) grayscale(100%)!important;
	-webkit-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-moz-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-ms-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-o-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	transition: all .2s ease 0s, text-shadow .2s linear 0s
}

footer {
	margin: 0 auto;
	align-self: center;
	grid-column: 1/span 18;
	grid-row: 11
}

footer p {
	margin-bottom: 20px;
	color: #fff;
	opacity: .6;
	font-size: 80%
}

footer p a {
	color: #fff
}

.element {
	border-width: 2px;
	border-style: solid;
	color: #fff;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	cursor: pointer;
	padding: 2px 6px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-moz-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-ms-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-o-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	transition: all .2s ease .2s, text-shadow .2s linear .2s
}

.element .left-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%
}

.element .left-info .mass {
	font-size: 55%;
	opacity: .6;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(inherit - 12px);
	padding-left: 5%;
	text-align: center
}

.element .left-info .number {
	font-size: 70%;
	opacity: .6
}

.element .left-info .symbol {
	font-size: 175%;
	font-family: "Google Sans", sans-serif;
	font-weight: 700;
	margin-top: -2px;
	text-align: center;
	padding-left: 5%;
	filter: brightness(1.75)
}

.element .left-info .name {
	font-size: 55%;
	opacity: .6;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(inherit - 12px);
	text-align: center;
	padding-left: 10%
}

.element .right-info {
	font-size: 45%;
	opacity: .6;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: -5%
}

.bg-damp {
	filter: brightness(.2)!important;
	-webkit-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-moz-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-ms-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-o-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	transition: all .2s ease .2s, text-shadow .2s linear .2s
}

.sel-elem {
	z-index: 10;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-moz-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-ms-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-o-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	transition: all .2s ease .2s, text-shadow .2s linear .2s
}

.filter-container {
	grid-column: 3/span 10;
	grid-row: 1/span 3;
	display: flex;
	justify-content: space-around;
	align-items: center
}

.filter-container .preview {
	display: flex;
	height: 175px;
	width: 150px;
	border-bottom: 10px solid;
	background-color: rgba(113, 113, 113, .5);
	padding: 15px 15px 10px 15px;
	box-sizing: border-box;
	justify-content: space-between;
	color: #fff;
	border-bottom-color: rgba(225, 40, 10, .6);
	-webkit-transition: border-bottom-color .1s linear .2s;
	-moz-transition: border-bottom-color .1s linear .2s;
	-ms-transition: border-bottom-color .1s linear .2s;
	-o-transition: border-bottom-color .1s linear .2s;
	transition: border-bottom-color .1s linear .2s
}

.filter-container .preview .left-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100px
}

.filter-container .preview .left-info .mass {
	font-size: 80%;
	opacity: .8;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(inherit - 12px)
}

.filter-container .preview .left-info .number {
	font-size: 100%;
	opacity: .8
}

.filter-container .preview .left-info .symbol {
	font-size: 400%;
	font-family: "Google Sans", sans-serif;
	font-weight: 700;
	margin-top: -10px;
	filter: brightness(1.75)
}

.filter-container .preview .left-info .name {
	font-size: 90%;
	opacity: .8;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(inherit - 12px)
}

.filter-container .preview .right-info {
	opacity: .8;
	font-size: 90%;
	display: flex;
	flex-direction: column;
	align-items: center
}

.filter-container .label {
	font-size: 80%;
	color: #fff;
	margin: 6px 0;
	padding: 7px 0;
	width: 170px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid transparent;
	cursor: pointer;
	font-weight: 500;
	-webkit-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-moz-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-ms-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-o-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	transition: all .2s ease .2s, text-shadow .2s linear .2s
}

.sp-label {
	border-width: 2px;
	border-style: solid;
	-webkit-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-moz-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-ms-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-o-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	transition: all .2s ease .2s, text-shadow .2s linear .2s
}

.sp-label.lanthanoid-sp {
	border-color: #7d8e2a
}

.sp-label.actinoid-sp {
	border-color: teal
}

.sp-label p {
	text-align: center;
	font-size: 100%;
	width: 100%;
	height: 100%;
	margin: 35% 0 0 0;
	font-weight: 500
}

.lanthanoid-sp p {
	color: #7d8e2a;
	filter: brightness(1.75)
}

.actinoid-sp p {
	color: teal;
	filter: brightness(1.75)
}

.gp-label {
	margin-top: -5%;
	-webkit-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-moz-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-ms-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	-o-transition: all .2s ease .2s, text-shadow .2s linear .2s;
	transition: all .2s ease .2s, text-shadow .2s linear .2s
}

.gp-label span {
	margin-left: 45%;
	text-align: center;
	font-size: 125%;
	color: #fff
}

.visible-model {
	visibility: visible!important;
	opacity: 1!important;
	-webkit-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-moz-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-ms-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	-o-transition: all .2s ease 0s, text-shadow .2s linear 0s;
	transition: all .2s ease 0s, text-shadow .2s linear 0s
}

.sidebar-container>.siderbar {
	box-shadow: 0 0 5px rgba(0, 0, 0, .64);
	position: fixed;
	padding: 30px;
	font-size: 2em;
	text-align: center
}

.sidebar.right {
	position: fixed;
	top: 0;
	right: -80%;
	width: 500px;
	min-height: 100vh;
	z-index: 999;
	transition: right 0.8s ease-in-out 0s;
	background-color: transparent
}

.sidebar-content {
	position: relative;
	background-color: #fff;
	min-height: 100vh;
	margin-left: 0
}

.open .sidebar {
	right: 0;
	transition: right 0.8s ease-in-out 0s
}

.sidebar.right header {
	display: flex;
	flex-direction: column
}

.sidebar.right header .close-button {
	font-size: 250%;
	font-weight: 700;
	align-self: flex-end;
	padding: 7px 17px 10px 17px;
	cursor: pointer
}

.sidebar.right article {
	padding: 0 40px 40px 40px
}

.sidebar.right article .electron-container {
	z-index: 0;
	position: relative;
	height: 150px;
	width: 150px;
	overflow: visible!important;
	margin-right: 10%
}

.sidebar.right article .notation {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	z-index: 10;
	position: relative
}

.sidebar.right article .notation .number {
	font-size: 180%;
	align-self: flex-start
}

.sidebar.right article .notation .symbol {
	font-size: 500%;
	font-family: "Google Sans", sans-serif;
	font-weight: 700;
	align-self: center;
	margin: 0 6px;
	filter: brightness(1.25)
}

.sidebar.right article .notation .mass {
	font-size: 120%;
	align-self: flex-end
}

.sidebar.right article .group {
	font-size: 120%;
	text-align: center;
	text-transform: capitalize;
	font-weight: 700;
	position: relative;
	z-index: 10
}

.sidebar.right article .name {
	font-size: 340%;
	font-family: "Google Sans", sans-serif;
	font-weight: 700;
	text-align: center;
	filter: brightness(1.25)
}

.sidebar.right article .summary {
	margin: 5px 0;
	font-size: 110%
}

.sidebar.right article .more-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 15px;
	grid-column-gap: 10px;
	grid-row-gap: 7px;
	text-transform: capitalize
}

.sidebar.right article .more-info .title {
	font-size: 100%;
	font-family: "Google Sans", sans-serif;
	font-weight: 700;
	text-transform: capitalize
}